@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Crete+Round&family=Libre+Baskerville&family=Merriweather&family=Poppins:wght@200;700&family=Tiro+Devanagari+Hindi&display=swap');




body{
    font-family: 'Baloo Bhai 2', cursive;
font-family: 'Crete Round', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Tiro Devanagari Hindi', serif;
}

.logo{
    height: 69px;
    width: 78px;
}
span{
    font-size: 27px;
}
.button-border{
    border: 2px solid red;
    border-radius: 30px;
    align-items: center;
    height: 39px;
    margin-right: 20px;

}

